@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden m-0 p-0
  }

}

/* body {
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
} */